@use "../partials/variables" as v;
// stylelint-disable property-disallowed-list
@mixin transition($transition...) {
    @if length($transition) == 0 {
        $transition: v.$transition-base
    }

    @if length($transition) > 1 {
        @each $value in $transition {
            @if $value == null or $value == none {
                @warn "the keyword 'none' or 'null' must be used as a single argument."
            }
        }
    }

    @if v.$enable-transitions {
        @if nth($transition, 1) != null {
            transition: $transition;
        }

        @if v.$enable-reduced-transitions and nth($transition, 1) != null and nth($transition, 1) != none {
            @media(prefers-reduced-motion: reduce) {
                transition: none
            }
        }
    }

    color: v.$clr-base-border
}