@import "variables";
@import "mixins";
footer {
    .col-header {
        text-transform: capitalize;
        margin-bottom: 16px;
    }

    .col {
        li {
            margin-bottom: 12px;

            a {
                font-weight: bold;
            }
        }
    }
    &.secondary-footer {
        a {
            text-transform: capitalize;

            @include set-text-clr($clr-footer-link-text);
        }
    }
}