

@function px-to-rem($size) {
    @return ($size / 16) * 1rem;
}

@function tint-color($clr, $g) {
    @return mix(white, $clr, $g);
}

@function shade-color($clr, $g) {
    @return mix(black, $clr, $g);
}

@mixin set-text-clr($c) {
    color: $c;
}

@mixin set-font-size($size) {
    font-size: px-to-rem($size);
}

@mixin display($type) {
    @if $type == 'none' {
        display: none;
    } @else if $type == 'block' {
        display: block;
    } @else if $type == 'grid' {
        display: grid;
    } @else if $type == 'flex' {
        display: flex;
    }
}

@mixin badge($style, $size) {
    @if $size == 'sm' {
        padding: map-get(badge-spacing, 'sm');
    } @else if $size == 'md' {
        padding: map-get(badge-spacing, 'md');
    } @else if $size == 'lg' {
        padding: map-get(badge-spacing, 'lg');
    }

    @if $style == 'primary' {
        background-color: $clr-primary-badge-bg;
    }
}

//- todo: use this mixin with modals exclusively
@mixin flex-center() {
    align-items: center;
    justify-content: center;
}