@import "../partials/mixins";
@import "../partials/variables";
.customers {

}

.section-title {
    font-weight: bold;
    font-size: px-to-rem(32);
    text-align: center;

    &:first-letter {
        text-transform: capitalize;
    }
}

p.sub-heading {
    font-size: px-to-rem(20);
    text-align: center;
    margin-top: 8px;

    @include set-text-clr($clr-muted-text)
}