.close-icon {
    background: url('../img/close-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.sm-close-icon {
    background: url('../img/sm-close-icon.svg') no-repeat;
    width: 14px;
    height: 14px;
}

.verified-icon {
    background: url('../img/verified-icon.svg') no-repeat;
    width: 16px;
    height: 15px;
}