@import "../partials/mixins";
@import "../partials/variables";
.btn-group {
    @include display('flex');
    gap: 12px;
    width: 223px;
    margin: auto;

}
button {
    .icon {
        margin-right: 6px;
    }
    &.lg-secondary-btn,
    &.lg-primary-btn {
        background-color: #fff;
        display: flex;
        border: 1px solid #D5D7DA;
        justify-content: center;
        padding: 12px 18px 10px 18px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        text-transform: capitalize;
        @include set-text-clr($clr-secondary-btn-text);
    }

    &.lg-primary-btn {
        background-color: $clr-primary-500;
        color: #fff;
    }
}