@import "../partials/variables";
@import "../partials/mixins";
.card {
    border: 1px solid $clr-base-border;

    &.customer {
        padding: 32px;
        max-width: 384px;
        margin-bottom: 42px;
        border-radius: 8px;

        .card-body {
            .quote {
                font-size: px-to-rem(16);
                margin: 12px 0 48px 0;
                @include set-text-clr($clr-body-text);
            }
        }

        .card-footer {
            position: relative;

            @include display('flex');

            .avatar {
                margin-right: 12px;
                float: left;
            }
            .info {
                @include display('flex');
                flex-direction: column;

                width: 100%;


                .user-name {
                    @include display('inline');
                    @include set-font-weight(bold);
                    @include set-font-size(16);
                }

                .icon {
                    position: absolute;
                    right: 105px;
                    top: 4px;
                }
            }
        }
    }
}

.customer-cols {
    display: flex;
    gap: 42px;
    margin-top: 64px;
}