@import "../partials/variables";
.search-form {
    margin-top: 20px;
    input {
        border: none;
        margin-left: 10px;
        &::-webkit-input-placeholder {
            font-size: 16px;
            text-transform: capitalize;
        }

        &:focus {
            outline: none;
        }
    }

    .input-bg {
        display: flex;
        padding: 10px 12px;
        border: 1px solid $clr-base-border;
    }
}